.faq-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
}


.faq-title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.faq-subtitle {
    text-align: center;
    color: #555;
    max-width: 500px;
    margin: 0 auto 30px auto;
    font-size: 15px;
    line-height: 1.5;
    justify-content: center;
}


.faq-search-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.faq-search {
    background-image: url('https://cdn-icons-png.flaticon.com/128/54/54481.png');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 12px center;
    cursor: pointer;
    width: 100%;
    padding: 12px 15px 12px 45px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

    .faq-search:focus {
        border-color: #e44c55;
        box-shadow: 0 0 0 2px rgba(228, 76, 85, 0.2);
    }


.faq-tabs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.tab {
    padding: 10px 18px;
    background: #f1c5cc;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
    margin-bottom: 60px;
}

    .tab.active {
        background: #D60528;
        color: white;
    }


.faq-item {
    border-bottom: 1px solid #f1c5cc;
    padding: 15px 0;
    margin-bottom: 20px;
}

.faq-q {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.faq-a {
    display: none;
    color: #555;
    padding: 10px 0;
    line-height: 1.5;
}

.faq-item.active .faq-a {
    display: block;
}

.faq-item .chev {
    transition: transform 0.2s;
}

.faq-item.active .chev {
    transform: rotate(180deg);
}


.faq-support-box {
    background: #ffe6e8;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    margin-top: 40px;
    margin-top: 110px;
}

    .faq-support-box h3 {
        margin-bottom: 25px;
        font-size: 25px;
        font-weight: 700;
    }

    .faq-support-box p {
        color: #555;
        text-align: center;
        max-width: 400px;
        margin: 0 auto 30px auto;
        font-size: 15px;
        line-height: 1.5;
        justify-content: center;
    }

.support-btn {
    background: #D60528;
    color: #fff;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 7px 15px rgb(0, 0, 0, 0.40);
}

    .support-btn:hover {
        background: #d13c49;
    }
