html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.accordion-body {
    color: #d32f2f; 
    border-radius: 8px;
    padding: 1.2rem;
}

.main-writing {
    color: #d32f2f; 
}
.accordion-header {
    color: #d32f2f; 
    font-weight: bold;
    font-size: 1.1rem; 
}
.accordion-button {
    color: black; 
    font-weight: bold;
    font-size: 1.1rem; 
    padding: 1.2rem 1.5rem; 
    border-radius: 8px;
 
}
    .accordion-button:focus,
    .accordion-button:active {
        box-shadow: none !important;
        border-color: none !important;
        outline: none !important;
        background-color: red !important;
        color: white !important;
    }

    .accordion-button:not(.collapsed) {
        background-color: #d32f2f; 
        color: white;
        box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
    }